extends layout

block content
  .container-fluid
    .row
        .col-sm-3.col-md-2.sidebar
        .col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main
          h1.page-header Event Dashboard
          .row.placeholders
          h2.sub-header 13/04/2014 - Hunain's Birthday Bash
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Who?
                  th When?
                  th What?
                  th Text?
                  th Facebook Post?
              tbody
                tr
                  td Hunain Shiwani
                  td 10th April
                  td "Hey! It's my birthday in 2 days! Make sure you come to Nottingham City Centre at 20:00!"
                  td <strong> Yes </strong>
                  td No
                tr
                  td Andrew Li
                  td 10th April
                  td "Hey! It's my birthday in 2 days! Make sure you come to Nottingham City Centre at 20:00!"
                  td <strong> Yes </strong>
                  td No
                tr
                  td Luke Geeson
                  td 10th April
                  td "Hey! It's my birthday in 2 days! Make sure you come to Nottingham City Centre at 20:00!"
                  td <strong> Yes </strong>
                  td No
                tr
                  td Joe Nash
                  td 10th April
                  td "Hey! It's my birthday in 2 days! Make sure you come to Nottingham City Centre at 20:00!"
                  td <strong> Yes </strong>
                  td No
                tr
                  td Adam Gask
                  td 10th April
                  td <strong> "Remember to pick up the drinks!" </strong>
                  td <strong> Yes </strong>
                  td <strong> Yes </strong>
          h2.sub-header 16/05/2014 - Suprise Wedding Anniversary! (for Mum and Dad)
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Who?
                  th When?
                  th What?
                  th Text?
                  th Facebook Post?
              tbody
                tr
                  td Sister
                  td 16th May
                  td "Remember to bring the flowers!!"
                  td <strong> Yes </strong>
                  td No
                tr
                  td Mum
                  td 16th April
                  td "D"
                  td No
                  td <strong> Yes </strong>
                tr
                  td Dad
                  td 16th April
                  td "Don't tell Mum but we're organising a suprise party at #{Insert fancy restauraunt here}"
                  td <strong> Yes </strong>
                  td No  

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='../../dist/js/bootstrap.min.js')
script(src='../../assets/js/docs.min.js')
