extends layout

block content
  .container.theme-showcase
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        h1 Welcome to #{title}!
        p
          | Welcome to #{title}! Your Facebook Secretary!
        p
          a(href='/auth/facebook').btn.btn-primary.btn-lg Sign in with Facebook »


block welcome
  ul.nav.navbar-nav.navbar-right
    li
      each user in users
        a(href='#') Welcome, #{user.fullname}
