extends layout

block content
  .container.theme-showcase
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        h1 You have succesfully logged in to Facebook!
        p
          | Welcome to #{title}! Your Facebook Secretary!